# Visual Studio temporary files and build results
.vs/
/Debug/
/Release/
/x64/
/Win32/
thirdparty/imgui/examples/example_win32_directx11/Debug/
thirdparty/imgui/examples/example_win32_directx11/Release/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate
*.recipe
*.ipch
*.pch
*.aps
*.ncb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
build_output/
/Synthetic.exe
/Synthetic-Release-x64.zip
*.zip
leakproject/
leakproject
